In [3]:
#Score 0.8400
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,ExtraTreesRegressor
from sklearn.ensemble import BaggingRegressor,AdaBoostRegressor
from sklearn.model_selection import KFold
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import lightgbm as LGB
from sklearn.metrics import mean_absolute_error as mae,mean_squared_log_error as rmsle,mean_squared_error as mse
import os,re
import warnings
warnings.filterwarnings('ignore')
PATH='Restaurant prices 23.04.19/Participants_Data_Final'

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# import plotly.offline as py
# py.init_notebook_mode(connected=True)
# import plotly.graph_objs as go
# import plotly.tools as tls
# from mlens.ensemble import SuperLearner

In [1]:
# import jupyterthemes as jt
# from jupyterthemes import jtplot
# jt.install_theme('chesterish')
# jtplot.style()
# jt.get_themes()

In [5]:
from concurrent.futures import ThreadPoolExecutor
def parallel_trees(m, fn, n_jobs=8):
        return list(ThreadPoolExecutor(n_jobs).map(fn, m.estimators_))
def rf_feat_importance(m, df):
    return pd.DataFrame({'cols':df.columns, 'imp':m.feature_importances_}
                       ).sort_values('imp', ascending=False)
def get_preds(t): return t.predict(valX)
# %time preds = np.stack(parallel_trees(model, get_preds))
# np.mean(preds[:,0]), np.std(preds[:,0])

In [18]:
print(f'{PATH}'+'Data')
df_raw_1=pd.read_excel(PATH+'/Data_Train.xlsx',
                     dtype={
#                          'TITLE', 
                            'RESTAURANT_ID':np.int32,
#                             'CUISINES', 'TIME', 'CITY', 'LOCALITY',
#                             'RATING':float,
#                             'VOTES',
                            'COST':np.int32
                           })

Restaurant prices 23.04.19/Participants_Data_FinalData

In [19]:
df_raw=pd.read_excel(PATH+'/Data_Train.xlsx',
                     dtype={
#                          'TITLE', 
                            'RESTAURANT_ID':np.int32,
#                             'CUISINES', 'TIME', 'CITY', 'LOCALITY',
#                             'RATING':float,
#                             'VOTES',
                            'COST':np.int32
                           })
df_test=pd.read_excel(PATH+'/Data_Test.xlsx',
                      dtype={
#                          'TITLE', 
                            'RESTAURANT_ID':np.int32,
#                             'CUISINES', 'TIME', 'CITY', 'LOCALITY',
#                             'RATING':float,
#                             'VOTES',
                           })

In [20]:
from pandas.api.types import is_string_dtype
df_temp=df_raw.copy()
Y1=df_temp.COST
df_temp.drop('COST',axis=1,inplace=True)
df_temp=pd.concat([df_temp,df_test])

In [9]:
df_temp.columns

Index(['TITLE', 'RESTAURANT_ID', 'CUISINES', 'TIME', 'CITY', 'LOCALITY',
       'RATING', 'VOTES'],
      dtype='object')

In [10]:
# df_temp.TIME.head()

In [ ]:
# ss='12midnight – 3am, 11:15am – 12midnight (Mon...'
# ss='1pm – 11pm (Mon, Tue, Thu), 1pm – 11:1pm (Wed...'
# ss.replace('midnight','am')
# ss.replace('noon','pm')
# # ss.replace('...',')') handle ...
# rad=[]
# rad.append('lays')
# rad.append('None')
# rad.pop()
# rad.append('yo')

In [ ]:
# closed=[]
# opened=[]
# for str in df_temp.TIME:
#     str=str.upper()
#     str=str.replace('MIDNIGHT','AM')
#     str=str.replace('NOON','PM')
#     str=str.replace('...',')')
#     str=str.replace('MON','1')
#     str=str.replace('TUE','2')
#     str=str.replace('WED','3')
#     str=str.replace('THU','4')
#     str=str.replace('FRI','5')
#     str=str.replace('SAT','6')
#     str=str.replace('SUN','7')
#     time_new=''
#     j=0
#     closed.append('NONE')
#     opened.append('NONE')
#     for split_1 in str.split(','):
#         split_1=split_1.strip()
#         temp=re.findall("\((.*?)\)",split_1)
#         for item in temp:
#             if('CLOSED' in split_1):
#                 closed.pop()
#                 closed.append(item) 
#             else:
#                 opened.pop()
#                 opened.append(item)
#             if(j>0):time_new+=','
#             time_new+=item
#             j+=1
        
# #         split_1=re.sub("\((.*?)\)",'',split_1)
# #         for split_2 in split_1.split('–'):
# #             split_2=split_2.strip()
# #         print(split_2)
# #     print(split_1)
# #         if(len(temp))>0:
# #             print((temp))
# #             print(split_1)
# # opened

In [ ]:
# days=pd.DataFrame({'Open':opened,'Closed':closed})
# item=days.Open.mode()
# days.Closed.replace('NONE','0',inplace=True)
# days.Open.replace('NONE',item[0],inplace=True)
# # days
# days.loc[(days.Open!=item[0])&(days.Closed=='0')]
# # days.loc[days.Open == '[MON-SUN]']
# # df_temp['Closed']=days.Closed
# # df_temp['Open']=days.Open

In [21]:
# Data PreProcessing

title_lc=LabelEncoder()
cuisine_lc=LabelEncoder()
time_lc=LabelEncoder()
city_lc=LabelEncoder()
locality_lc=LabelEncoder()


# 'TIME'
time_list=[]
times=list(df_temp.TIME)
for i in range (0,len(times)):
    time=times[i]
    time_new=''
    j=0
    for split_1 in time.split(','):
        split_1=split_1.strip().upper()
        temp=re.findall("\((.*?)\)",split_1)
        for item in temp:
            if(j>0):time_new+=','
            time_new+=item
            j+=1
            time_list.append(item)
        split_1=re.sub("\((.*?)\)",'',split_1)
        for split_2 in split_1.split('–'):
            split_2=split_2.strip()
    if(len(time_new)==0):time_new='None'
    times[i]=time_new
df_temp.TIME=times 
time_list.append('None')
time_list=np.unique(np.array(time_list)) 
time_lc.fit(time_list)
print(len(time_list))
del times

#             print(split_2)
#     print(split_1)
#     print((temp))


# 'TITLE'

#Find title-cost connection using groupBy plot
t_arr1=['PAAN SHOP','MESS','BHOJANALAYA','MEAT SHOP','KIOSK',
          'IRANI CAFE','CONFECTIONERY']
t_arr2=['FOOD COURT','BAKERY','NONE','SWEET SHOP','BEVERAGE SHOP']
t_arr3=['None','QUICK BITES','DESSERT PARLOR','FOOD TRUCK']
t_arr4=['CAFÉ','DHABA','CASUAL DINING']
t_arr5=['PUB','BAR','LOUNGE','MICROBREWERY']
t_arr6=['CLUB', 'COCKTAIL BAR',]
t_arr7=['FINE DINING']

title_list=[]
title_band=[]
titles=list(df_temp.TITLE)
for i in range(0,len(titles)):
    title=titles[i]
    title_new=''
    j=0
    for item in title.split(','):
        item=item.strip().upper()
        title_list.append(item)
        if(j>0):title_new+=','
        title_new+=item
        temp_band=0
        if item in t_arr1:temp_band=0
        elif item in t_arr2:temp_band=1
        elif item in t_arr3:temp_band=2   
        elif item in t_arr4:temp_band=3   
        elif item in t_arr5:temp_band=4
        elif item in t_arr6:temp_band=5
        elif item in t_arr7:temp_band=6
        if(len(title_band)==i):title_band.append(temp_band)
        else:
            if(title_band[i]<temp_band):title_band[i]=temp_band
        
        j+=1
    titles[i]=title_new
df_temp.TITLE=titles
df_temp['T_BAND']=title_band
title_list.append('None')
title_list=np.unique(np.array(title_list))  
title_lc.fit(title_list)
print(len(title_list))
del titles

# 'CUISINES'

# df_temp3=df_temp.copy()
# df_temp3['COST']=df_raw.COST
# col='CUISINES_1'
# dd=df_temp3[[col,'COST']].groupby([col]).mean().sort_values(by='COST',ascending=True)
# dd['BAND']=pd.cut(dd.COST,10)
# dict=dd[['BAND']].groupby(['BAND']).groups
# list_values = [ v for v in dict.values() ]
# del df_temp3,dd

#Find cuisine-cost connection using groupBy plot
t_arr1=['PAAN', 'AFGHAN', 'TEA', 'CAFE FOOD', 'BUBBLE TEA', 'STREET FOOD',
       'JUICES', 'CHARCOAL CHICKEN', 'ASSAMESE', 'MITHAI', 'SANDWICH',
       'BURMESE', 'ICE CREAM', 'ORIYA', 'MOMOS', 'ROAST CHICKEN', 'FAST FOOD',
       'WRAPS', 'BEVERAGES', 'DESSERTS', 'ROLLS', 'KEBAB', 'BAKERY',
       'MAHARASHTRIAN', 'SOUTH INDIAN', 'COFFEE', 'BIHARI', 'BOHRI',
       'COFFEE AND TEA' ,'FUSION','GRILL','HAWAIIAN','MISHTI' ,'MONGOLIAN','PANINI']
t_arr2=['BIRYANI', 'KERALA', 'INDONESIAN', 'TAMIL', 'RAW MEATS', 'LUCKNOWI',
       'MIDDLE EASTERN', 'CANTONESE', 'HOT DOGS', 'PAKISTANI', 'TIBETAN',
       'ARABIAN', 'LEBANESE', 'PIZZA', 'BURGER', 'CHETTINAD', 'NORTH EASTERN',
       'IRANIAN', 'TURKISH', 'HEALTHY FOOD', 'MULTI CUISINE', 'BENGALI',
       'ANDHRA', 'SALAD', 'RAJASTHANI', 'AFRICAN', 'MUGHLAI', 'CHINESE',
       'MANGALOREAN', 'INDIAN', 'CAFE', 'SINDHI', 'NORTH INDIAN', 'MALWANI',
        'CUISINE VARIES','GREEK','HOT POT','JEWISH','None','VEGAN']
t_arr3=['AWADHI', 'PARSI', 'BBQ', 'SRI LANKAN', 'NEPALESE', 'NAGA', 'GUJARATI',
       'MEXICAN', 'ETHIOPIAN', 'SEAFOOD', 'SUSHI', 'HYDERABADI', 'GERMAN',
       'AMERICAN','FISH AND CHIPS','SATAY']
t_arr4=['GOAN', 'ITALIAN', 'ASIAN', 'CONTINENTAL', 'KOREAN', 'KONKAN',
       'MALAYSIAN', 'STEAK', 'TEX-MEX', 'BRITISH', 'THAI', 'SINGAPOREAN',
       'PORTUGUESE', 'KASHMIRI', 'RUSSIAN','DUMPLINGS','PAN ASIAN']
t_arr5=['BAR FOOD', 'VIETNAMESE', 'FINGER FOOD', 'MODERN INDIAN','FALAFEL']
t_arr6=['SOUTH AMERICAN', 'MEDITERRANEAN', 'FRENCH', 'EUROPEAN','BELGIAN','POKÉ']
t_arr7=['','JAPANESE', 'DRINKS ONLY', 'ARMENIAN','MODERN AUSTRALIAN']
# t_arr8=['SPANISH']
# t_arr9=['IRISH','MOROCCAN']
# t_arr10=['BRAZILIAN', 'EGYPTIAN','ORIENTAL']
# t_arr11=['PERUVIAN']
t_arr8=['SPANISH','IRISH','MOROCCAN','BRAZILIAN', 'EGYPTIAN','ORIENTAL','PERUVIAN']





cuisine_list=[]
cuisine_band=[]
cuisines=list(df_temp.CUISINES)
for i in range(0,len(cuisines)):
    cuisine=cuisines[i]
    cuisine_new=''
    j=0
    for item in cuisine.split(','):
        item=item.strip().upper()
        cuisine_list.append(item)
        if(j>0):cuisine_new+=','
        cuisine_new+=item
        
        k=0
        temp_band=0
        if item in t_arr1:temp_band=0
        elif item in t_arr2:temp_band=1
        elif item in t_arr3:temp_band=2   
        elif item in t_arr4:temp_band=3   
        elif item in t_arr5:temp_band=4
        elif item in t_arr6:temp_band=5
        elif item in t_arr7:temp_band=6
        elif item in t_arr8:temp_band=7
#         elif item in t_arr9:temp_band=8
#         elif item in t_arr10:temp_band=9
#         elif item in t_arr11:temp_band=10
        if(len(cuisine_band)==i):cuisine_band.append(temp_band)
        else:
            if(cuisine_band[i]<temp_band):cuisine_band[i]=temp_band
        
        j+=1
    cuisines[i]=cuisine_new
df_temp.CUISINES=cuisines
df_temp['C_BAND']=cuisine_band
cuisine_list.append('None')
cuisine_list=np.unique(np.array(cuisine_list)) 
cuisine_lc.fit(cuisine_list)
print(len(cuisine_list))
del cuisines

# 'CITY'
cities=list(df_temp.CITY)
for i in range(0,len(cities)):
    city=cities[i]
    try:
        cities[i]=city.strip().upper()
    except:
        cities[i]='None'

df_temp.CITY=cities
cities=np.unique(np.array(cities))
print(len(cities))
# del cities
city_lc.fit(cities)
# 'LOCALITY'
localities=list(df_temp.LOCALITY)
for i in range(0,len(localities)):
    try:
        localities[i]=(localities[i].strip().upper())
    except:
        localities[i]='NONE'

df_temp.LOCALITY=localities
localities=np.unique(np.array(localities))  
locality_lc.fit(localities)
print(len(localities))
# del localities

# 'RATING'
# Rating -1/0??
df_temp.RATING.fillna(0,inplace=True)
if 'NEW' in df_temp.RATING.values:
    df_temp.RATING.replace('NEW',-1,inplace=True)
if '-' in df_temp.RATING.values:
    df_temp.RATING.replace('-',0,inplace=True)  
if df_temp.RATING.isnull().any():    
    df_temp.RATING.fillna(0,inplace=True)
if is_string_dtype(df_temp.RATING):
    df_temp.RATING=df_temp.RATING.astype('float')

# 'VOTES'
# -1/0??
df_temp.VOTES.fillna(('-1 votes'),inplace=True)
if not (type(df_temp.VOTES.values[0]) == np.int64 ):
    df_temp.VOTES=df_temp.VOTES.apply(lambda x:int(x.split(' ')[0]))
df_temp.head()

25
26
131
434
1588

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,T_BAND,C_BAND
0,CASUAL DINING,9438,"MALWANI,GOAN,NORTH INDIAN",MON-SUN,THANE,DOMBIVLI EAST,3.6,49,3,3
1,"CASUAL DINING,BAR",13198,"ASIAN,MODERN INDIAN,JAPANESE",MON-SUN,CHENNAI,RAMAPURAM,4.2,30,4,6
2,CASUAL DINING,10915,"NORTH INDIAN,CHINESE,BIRYANI,HYDERABADI",MON-SUN,CHENNAI,SALIGRAMAM,3.8,221,3,2
3,QUICK BITES,6346,"TIBETAN,CHINESE",MON-SUN,MUMBAI,BANDRA WEST,4.1,24,2,1
4,DESSERT PARLOR,15387,DESSERTS,MON-SUN,MUMBAI,LOWER PAREL,3.8,165,2,0

In [22]:
# # unsorted lists
  
if 'TITLE' in df_temp.columns.values :
    new=df_temp.TITLE.str.split(',',expand=True)
    for n in new:
        if(new[n].isnull().any()):
            new[n].fillna('None',inplace=True)
        df_temp['TITLE_'+f'{(n+1)}']=new[n]
    df_temp.drop('TITLE',axis=1,inplace=True)  

if 'CUISINES' in df_temp.columns.values :
    new=df_temp.CUISINES.str.split(',',expand=True)
    for n in new:
        if(new[n].isnull().any()):
            new[n].fillna('None',inplace=True)
        df_temp['CUISINES_'+f'{(n+1)}']=new[n]
    df_temp.drop('CUISINES',axis=1,inplace=True)  
    
if 'TIME' in df_temp.columns.values :
    df_temp.TIME.replace('None',df_temp.TIME.mode,inplace=True)
    new=df_temp.TIME.str.split(',',expand=True)
    for n in new:
        if(new[n].isnull().any()):
            new[n].fillna('None',inplace=True)
        df_temp['TIME_'+f'{(n+1)}']=new[n]
    df_temp.drop('TIME',axis=1,inplace=True)

In [23]:
# #C_BAND



df_temp3=df_temp.copy()
df_temp3['COST']=df_raw.COST
col='CUISINES_1'
len(cuisine_list)
dd=df_temp3[[col,'COST']].groupby([col]).mean().sort_values(by='COST',ascending=True)
dd['BAND']=pd.cut(dd.COST,10)
dict=dd[['BAND']].groupby(['BAND']).groups
list_values = [ v for v in dict.values() ]
# del df_temp3,dd
dd[['BAND']].groupby(['BAND']).count()

Empty DataFrame
Columns: []
Index: [(187.19, 471.0], (471.0, 752.0], (752.0, 1033.0], (1033.0, 1314.0], (1314.0, 1595.0], (1595.0, 1876.0], (1876.0, 2157.0], (2157.0, 2438.0], (2438.0, 2719.0], (2719.0, 3000.0]]

In [24]:
df_temp3=df_temp.copy()
df_temp3['COST']=df_raw.COST
# df_temp3['Titleband']=pd.cut(df_temp3.TITLE_1,10)
df_temp3[['T_BAND','COST']].groupby(['T_BAND']).mean().sort_values(by='COST',ascending=True)

               COST
T_BAND
0        307.814570
2        422.777598
1        446.699760
3        720.892419
4       1286.483594
5       1882.222222
6       2374.401709

In [25]:
# Label Encoding
for col in df_temp.columns.values:
    if 'TITLE' in col:
        df_temp[col]=title_lc.transform(df_temp[col])
    if 'CUISINE' in col:
        df_temp[col]=cuisine_lc.transform(df_temp[col])
    if 'TIME' in col:
        df_temp[col]=time_lc.transform(df_temp[col])    
    if 'CITY' in col:
        df_temp[col]=city_lc.transform(df_temp[col])
    if 'LOCALITY' in col:
        df_temp[col]=locality_lc.transform(df_temp[col])

In [26]:

df_temp.drop([
#     'TIME',
              'RESTAURANT_ID'],axis=1,inplace=True)

In [27]:
df_temp.head()

,CITY,LOCALITY,RATING,VOTES,T_BAND,C_BAND,TITLE_1,TITLE_2,CUISINES_1,CUISINES_2,CUISINES_3,CUISINES_4,CUISINES_5,CUISINES_6,CUISINES_7,CUISINES_8,TIME_1,TIME_2,TIME_3
0,397,320,3.6,49,3,3,5,21,74,47,91,92,92,92,92,92,6,10,10
1,71,1188,4.2,30,4,6,5,1,7,82,62,92,92,92,92,92,6,10,10
2,71,1242,3.8,221,3,2,5,21,91,29,17,55,92,92,92,92,6,10,10
3,271,148,4.1,24,2,1,24,21,126,29,92,92,92,92,92,92,6,10,10
4,271,688,3.8,165,2,0,9,21,34,92,92,92,92,92,92,92,6,10,10

In [28]:
def print_score(model,check=True,file='1'):
#     preds=sc.inverse_transform(model.predict(valX))
#     preds=preds.astype(int)
    
#     
    
#     sc.inverse_transform
    if check:
        print('Score '+f'{model.score(valX,valY)}')
        preds=model.predict(valX)
#         print(pd.DataFrame(preds))
#         print('rmsle '+f'{1-rmsle(preds,valY)}')
        print('mse '+f'{sqrt(mse(preds,valY))}')
    else:
        preds=model.predict(df_test)
        preds = pd.DataFrame(preds, columns = ['COST']) # Converting to dataframe
        preds.to_excel(PATH+'/RFR'+file+'.xlsx', index = False ) # Saving the output in to an excel
        print(preds)
    # median prediction
#     preds[:len(preds)]=df_raw['COST'].median()

#     print('Correct: '+f'{(preds==valY).sum()}'+' Out of '+f'{len(preds)}')

In [33]:
from math import log,sqrt
# One Hot Encoding

str=[]

df_temp2=df_temp.copy()

# drop=['CUISINES_4','CUISINES_5','CUISINES_6','CUISINES_7','CUISINES_8']

# df_temp2=df_temp2.drop(str,axis=1)

# df_temp2=df_temp.copy()

# df_temp2.drop(['Closed'],axis=1,inplace=True)

for col in df_temp2.columns.values:
#     if 'T_BAND' in col:
#         str.append(col)
    if 'TITLE' in col:
        str.append(col)
    if 'CUISINE' in col:
        str.append(col)
    if 'CITY' in col:
        str.append(col)
    if 'LOCALITY' in col:
        str.append(col)
    if 'TIME' in col:
        str.append(col) 
#     if 'Closed' in col:
#         str.append(col)
#     if 'Open' in col:
#         str.append(col)

df_temp2 = pd.get_dummies(df_temp2,columns=str)   # gives (1451, 221) 
#comment when run w/out FI

#post FI
df_temp2=df_temp2[cols]


df_raw=df_temp2[:df_raw.shape[0]]

df_test=df_temp2[df_raw.shape[0]:]

df_raw['COST']=Y1

df_temp2=df_raw.copy()

X=df_temp2.drop([
    'COST',
#                  'LOCALITY','CITY'
                ],axis=1)


Y=df_temp2.COST
itr=0
while(True):
    trainX,valX,trainY,valY=train_test_split(X,Y)
    trainX.shape,trainY.shape,valX.shape,valY.shape

# model=GradientBoostingRegressor(random_state=42,loss = 'huber',n_estimators=1000, max_depth=4,subsample=0.97,max_leaf_nodes=50,verbose=False)
    model=LGB.LGBMRegressor(learning_rate=0.1,num_leaves=100,max_depth=6,bin=500,min_child_samples=10)    
    model.fit(trainX,trainY)
    score=model.score(valX,valY)
    print(score)
    if(score>=0.79):break
    if(itr>=25):break
    itr+=1

0.748227624717558
0.7751975787609674
0.7707036058358923
0.7942026262692272

In [31]:
feat=rf_feat_importance(model,X)
cols=feat[feat.imp>0].cols.values
"""
GBR
No Dummies 0.76,
No FI; Dummy Title; train 0.7583,test 0.8371

"""
feat.shape,cols.shape
# feat

((2745, 2), (170,))

In [34]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten,Dropout,Input
from keras.layers.merge import concatenate
from keras.models import load_model,Model
from numpy import argmax
from os import makedirs

Using TensorFlow backend.

In [35]:
NN_model = Sequential()
NN_model.add(Dense(128, kernel_initializer='normal',input_dim = X.shape[1], activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
# NN_model.add(Dropout(rate=0.8))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
# NN_model.summary()
checkpoint_name = 'Weights---{val_loss:.5f}.hdf5' 
checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose = 1, save_best_only = True, mode ='auto')
callbacks_list = [checkpoint]
NN_model.fit(X, Y, epochs=50, batch_size=32, validation_split = 0.2, callbacks=callbacks_list)

WARNING:tensorflow:From H:\Software\Conda\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From H:\Software\Conda\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 10152 samples, validate on 2538 samples
Epoch 1/50
10152/10152 [==============================] - 2s 185us/step - loss: 328.3109 - mean_absolute_error: 328.3109 - val_loss: 287.3558 - val_mean_absolute_error: 287.3558

Epoch 00001: val_loss improved from inf to 287.35582, saving model to Weights---287.35582.hdf5
Epoch 2/50
10152/10152 [==============================] - 2s 158us/step - loss: 237.9924 - mean_absolute_error: 237.9924 - val_loss: 217.7914 - val_mean_absolute_error: 217.7914

Epoch 00002: val_loss improved from 287.35582 to 217.79137, saving model to Weights---217.79137.hdf5
Epoch 3/50
10152/10152 [==============================] - 2s 150us/step - loss: 218.0536 - mean_absolute_error: 218.0536 - val_loss: 210.7547 - val_mean_absolute_error: 210.7547

Epoch 00003: val_loss improved from 217.79137 to 210.75473, saving model to Weights---210.75473.hdf5
Epoch 4/50
10152/10152 [==============================] - 1s 142us/step - loss: 217.1621 - mean_absolute_error: 217.1621 - val_loss: 204.0290 - val_mean_absolute_error: 204.0290

Epoch 00004: val_loss improved from 210.75473 to 204.02897, saving model to Weights---204.02897.hdf5
Epoch 5/50
10152/10152 [==============================] - 1s 147us/step - loss: 204.8952 - mean_absolute_error: 204.8952 - val_loss: 206.0767 - val_mean_absolute_error: 206.0767

Epoch 00005: val_loss did not improve from 204.02897
Epoch 6/50
10152/10152 [==============================] - 2s 152us/step - loss: 197.0489 - mean_absolute_error: 197.0489 - val_loss: 184.9142 - val_mean_absolute_error: 184.9142

Epoch 00006: val_loss improved from 204.02897 to 184.91421, saving model to Weights---184.91421.hdf5
Epoch 7/50
10152/10152 [==============================] - 2s 149us/step - loss: 191.1068 - mean_absolute_error: 191.1068 - val_loss: 177.4937 - val_mean_absolute_error: 177.4937

Epoch 00007: val_loss improved from 184.91421 to 177.49371, saving model to Weights---177.49371.hdf5
Epoch 8/50
10152/10152 [==============================] - 1s 139us/step - loss: 194.1721 - mean_absolute_error: 194.1721 - val_loss: 176.9946 - val_mean_absolute_error: 176.9946

Epoch 00008: val_loss improved from 177.49371 to 176.99460, saving model to Weights---176.99460.hdf5
Epoch 9/50
10152/10152 [==============================] - 2s 152us/step - loss: 190.2234 - mean_absolute_error: 190.2234 - val_loss: 181.9343 - val_mean_absolute_error: 181.9343

Epoch 00009: val_loss did not improve from 176.99460
Epoch 10/50
10152/10152 [==============================] - 2s 195us/step - loss: 185.6249 - mean_absolute_error: 185.6249 - val_loss: 179.2286 - val_mean_absolute_error: 179.2286

Epoch 00010: val_loss did not improve from 176.99460
Epoch 11/50
10152/10152 [==============================] - 2s 172us/step - loss: 186.3126 - mean_absolute_error: 186.3126 - val_loss: 192.8386 - val_mean_absolute_error: 192.8386

Epoch 00011: val_loss did not improve from 176.99460
Epoch 12/50
10152/10152 [==============================] - 1s 148us/step - loss: 184.9706 - mean_absolute_error: 184.9706 - val_loss: 181.5635 - val_mean_absolute_error: 181.5635

Epoch 00012: val_loss did not improve from 176.99460
Epoch 13/50
10152/10152 [==============================] - 1s 144us/step - loss: 183.5472 - mean_absolute_error: 183.5472 - val_loss: 173.3826 - val_mean_absolute_error: 173.3826

Epoch 00013: val_loss improved from 176.99460 to 173.38258, saving model to Weights---173.38258.hdf5
Epoch 14/50
10152/10152 [==============================] - 1s 126us/step - loss: 181.6123 - mean_absolute_error: 181.6123 - val_loss: 187.3148 - val_mean_absolute_error: 187.3148

Epoch 00014: val_loss did not improve from 173.38258
Epoch 15/50
10152/10152 [==============================] - 1s 123us/step - loss: 186.4421 - mean_absolute_error: 186.4421 - val_loss: 175.3551 - val_mean_absolute_error: 175.3551

Epoch 00015: val_loss did not improve from 173.38258
Epoch 16/50
10152/10152 [==============================] - 1s 132us/step - loss: 181.5308 - mean_absolute_error: 181.5308 - val_loss: 180.8367 - val_mean_absolute_error: 180.8367

Epoch 00016: val_loss did not improve from 173.38258
Epoch 17/50
10152/10152 [==============================] - 1s 136us/step - loss: 179.4582 - mean_absolute_error: 179.4582 - val_loss: 242.4841 - val_mean_absolute_error: 242.4841

Epoch 00017: val_loss did not improve from 173.38258
Epoch 18/50
10152/10152 [==============================] - 1s 120us/step - loss: 184.5819 - mean_absolute_error: 184.5819 - val_loss: 178.4157 - val_mean_absolute_error: 178.4157

Epoch 00018: val_loss did not improve from 173.38258
Epoch 19/50
10152/10152 [==============================] - 1s 136us/step - loss: 177.7865 - mean_absolute_error: 177.7865 - val_loss: 183.1441 - val_mean_absolute_error: 183.1441

Epoch 00019: val_loss did not improve from 173.38258
Epoch 20/50
10152/10152 [==============================] - 1s 133us/step - loss: 175.9006 - mean_absolute_error: 175.9006 - val_loss: 175.1211 - val_mean_absolute_error: 175.1211

Epoch 00020: val_loss did not improve from 173.38258
Epoch 21/50
10152/10152 [==============================] - 1s 122us/step - loss: 177.4564 - mean_absolute_error: 177.4564 - val_loss: 185.7439 - val_mean_absolute_error: 185.7439

Epoch 00021: val_loss did not improve from 173.38258
Epoch 22/50
10152/10152 [==============================] - 1s 119us/step - loss: 176.0598 - mean_absolute_error: 176.0598 - val_loss: 220.0339 - val_mean_absolute_error: 220.0339

Epoch 00022: val_loss did not improve from 173.38258
Epoch 23/50
10152/10152 [==============================] - 1s 134us/step - loss: 178.1010 - mean_absolute_error: 178.1010 - val_loss: 181.2306 - val_mean_absolute_error: 181.2306

Epoch 00023: val_loss did not improve from 173.38258
Epoch 24/50
10152/10152 [==============================] - 1s 129us/step - loss: 178.3624 - mean_absolute_error: 178.3624 - val_loss: 172.5435 - val_mean_absolute_error: 172.5435

Epoch 00024: val_loss improved from 173.38258 to 172.54354, saving model to Weights---172.54354.hdf5
Epoch 25/50
10152/10152 [==============================] - 1s 139us/step - loss: 176.1702 - mean_absolute_error: 176.1702 - val_loss: 183.0549 - val_mean_absolute_error: 183.0549

Epoch 00025: val_loss did not improve from 172.54354
Epoch 26/50
10152/10152 [==============================] - 1s 120us/step - loss: 177.6270 - mean_absolute_error: 177.6270 - val_loss: 192.6269 - val_mean_absolute_error: 192.6269

Epoch 00026: val_loss did not improve from 172.54354
Epoch 27/50
10152/10152 [==============================] - 1s 131us/step - loss: 181.5044 - mean_absolute_error: 181.5044 - val_loss: 202.9613 - val_mean_absolute_error: 202.9613

Epoch 00027: val_loss did not improve from 172.54354
Epoch 28/50
10152/10152 [==============================] - 1s 130us/step - loss: 175.3027 - mean_absolute_error: 175.3027 - val_loss: 187.5444 - val_mean_absolute_error: 187.5444

Epoch 00028: val_loss did not improve from 172.54354
Epoch 29/50
10152/10152 [==============================] - 1s 132us/step - loss: 174.1538 - mean_absolute_error: 174.1538 - val_loss: 186.4607 - val_mean_absolute_error: 186.4607

Epoch 00029: val_loss did not improve from 172.54354
Epoch 30/50
10152/10152 [==============================] - 1s 131us/step - loss: 174.2033 - mean_absolute_error: 174.2033 - val_loss: 177.0664 - val_mean_absolute_error: 177.0664

Epoch 00030: val_loss did not improve from 172.54354
Epoch 31/50
10152/10152 [==============================] - 1s 131us/step - loss: 175.9654 - mean_absolute_error: 175.9654 - val_loss: 174.1477 - val_mean_absolute_error: 174.1477

Epoch 00031: val_loss did not improve from 172.54354
Epoch 32/50

10152/10152 [==============================] - 1s 135us/step - loss: 174.4498 - mean_absolute_error: 174.4498 - val_loss: 173.9047 - val_mean_absolute_error: 173.9047

Epoch 00032: val_loss did not improve from 172.54354
Epoch 33/50
10152/10152 [==============================] - 1s 132us/step - loss: 171.8557 - mean_absolute_error: 171.8557 - val_loss: 173.3207 - val_mean_absolute_error: 173.3207

Epoch 00033: val_loss did not improve from 172.54354
Epoch 34/50
10152/10152 [==============================] - 1s 135us/step - loss: 170.4546 - mean_absolute_error: 170.4546 - val_loss: 179.8013 - val_mean_absolute_error: 179.8013

Epoch 00034: val_loss did not improve from 172.54354
Epoch 35/50
10152/10152 [==============================] - 2s 155us/step - loss: 177.4834 - mean_absolute_error: 177.4834 - val_loss: 187.0293 - val_mean_absolute_error: 187.0293

Epoch 00035: val_loss did not improve from 172.54354
Epoch 36/50
10152/10152 [==============================] - 1s 145us/step - loss: 170.9036 - mean_absolute_error: 170.9036 - val_loss: 174.4459 - val_mean_absolute_error: 174.4459

Epoch 00036: val_loss did not improve from 172.54354
Epoch 37/50
10152/10152 [==============================] - 1s 147us/step - loss: 172.2660 - mean_absolute_error: 172.2660 - val_loss: 173.5321 - val_mean_absolute_error: 173.5321

Epoch 00037: val_loss did not improve from 172.54354
Epoch 38/50
10152/10152 [==============================] - 1s 120us/step - loss: 169.1787 - mean_absolute_error: 169.1787 - val_loss: 181.3230 - val_mean_absolute_error: 181.3230

Epoch 00038: val_loss did not improve from 172.54354
Epoch 39/50
10152/10152 [==============================] - 1s 122us/step - loss: 169.4557 - mean_absolute_error: 169.4557 - val_loss: 200.2521 - val_mean_absolute_error: 200.2521

Epoch 00039: val_loss did not improve from 172.54354
Epoch 40/50
10152/10152 [==============================] - 1s 123us/step - loss: 169.7693 - mean_absolute_error: 169.7693 - val_loss: 177.4157 - val_mean_absolute_error: 177.4157

Epoch 00040: val_loss did not improve from 172.54354
Epoch 41/50
10152/10152 [==============================] - 1s 138us/step - loss: 171.7955 - mean_absolute_error: 171.7955 - val_loss: 171.5910 - val_mean_absolute_error: 171.5910

Epoch 00041: val_loss improved from 172.54354 to 171.59095, saving model to Weights---171.59095.hdf5
Epoch 42/50
10152/10152 [==============================] - 1s 123us/step - loss: 168.9689 - mean_absolute_error: 168.9689 - val_loss: 203.6657 - val_mean_absolute_error: 203.6657

Epoch 00042: val_loss did not improve from 171.59095
Epoch 43/50
10152/10152 [==============================] - 1s 127us/step - loss: 168.4836 - mean_absolute_error: 168.4836 - val_loss: 175.2486 - val_mean_absolute_error: 175.2486

Epoch 00043: val_loss did not improve from 171.59095
Epoch 44/50
10152/10152 [==============================] - 1s 126us/step - loss: 169.7141 - mean_absolute_error: 169.7141 - val_loss: 175.4621 - val_mean_absolute_error: 175.4621

Epoch 00044: val_loss did not improve from 171.59095
Epoch 45/50
10152/10152 [==============================] - 1s 122us/step - loss: 165.3007 - mean_absolute_error: 165.3007 - val_loss: 186.3686 - val_mean_absolute_error: 186.3686

Epoch 00045: val_loss did not improve from 171.59095
Epoch 46/50
10152/10152 [==============================] - 1s 137us/step - loss: 169.4015 - mean_absolute_error: 169.4015 - val_loss: 214.2761 - val_mean_absolute_error: 214.2761

Epoch 00046: val_loss did not improve from 171.59095
Epoch 47/50
10152/10152 [==============================] - 2s 163us/step - loss: 166.9188 - mean_absolute_error: 166.9188 - val_loss: 194.2819 - val_mean_absolute_error: 194.2819

Epoch 00047: val_loss did not improve from 171.59095
Epoch 48/50
10152/10152 [==============================] - 1s 122us/step - loss: 166.1370 - mean_absolute_error: 166.1370 - val_loss: 171.3852 - val_mean_absolute_error: 171.3852

Epoch 00048: val_loss improved from 171.59095 to 171.38520, saving model to Weights---171.38520.hdf5
Epoch 49/50
10152/10152 [==============================] - 1s 131us/step - loss: 165.1188 - mean_absolute_error: 165.1188 - val_loss: 172.5536 - val_mean_absolute_error: 172.5536

Epoch 00049: val_loss did not improve from 171.38520
Epoch 50/50
10152/10152 [==============================] - 1s 138us/step - loss: 166.9721 - mean_absolute_error: 166.9721 - val_loss: 182.5669 - val_mean_absolute_error: 182.5669

Epoch 00050: val_loss did not improve from 171.38520

In [36]:
# Load wights file of the best model :
wights_file = 'Weights---171.38520.hdf5' # choose the best checkpoint 
NN_model.load_weights(wights_file) # load it
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
# preds = NN_model.predict(X)
# mae(preds,valY)
# print_score(NN_model,False)